%h2 New certificate
= form_for @certificate do |f|
  - if @certificate.errors.any?
    #error_explanation
      %h2
        = pluralize(@certificate.errors.count, "error")
        prohibited this certificate from being saved:
      %ul
        - @certificate.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :issuer
    = f.select :issuer_id, @CAs.collect {|p| [ p.CN, p.id ] }
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :organization_name
    = f.text_field :organization_name
  .field
    = f.label :organizational_unit_name
    = f.text_field :organizational_unit_name
  .field
    = f.label :common_name
    = f.text_field :common_name
  .field
    = f.label :email_address
    = f.text_field :email_address
  .field
    = f.label :not_before
    = f.datetime_select :not_before
  .field
    = f.label :not_after
    = f.datetime_select :not_after, :default => 1.year.from_now
  .actions
    = f.submit
