<h1>Certificate#show</h1>
<p>Subject: <%= @certificate.subject %></p>
<p>Issuer: <%= @certificate.issuer %></p>
<p>Serial: <%= @certificate.serial %></p>
<p>Version: <%= @certificate.version %></p>
<p>Not before: <%= @certificate.not_before %></p>
<p>Not after: <%= @certificate.not_after %></p>
<p>Signature algorithm: <%= @certificate.signature_algorithm %></p>

